no ip domain-lookup
vtp mode transparent
spanning-tree portfast default

vlan {{ primary_vlan }}
 no private-vlan primary

interface vlan1
 description mgmt IP in dataplane - do not do in production!
 ip address {{ ip }} {{ netmask }}
 no shut

interface {{ fw_port }}
 switchport mode access
 switchport access vlan 1

interface {{ data_port }}
 switchport mode access
 switchport access vlan 1

interface {{ mgmt_port }}
 switchport mode access
 switchport access vlan 1
