vtp mode transparent
vlan {{ primary_vlan }}
 private-vlan primary
vlan {{ isolated_vlan }}
 private-vlan isolated
vlan {{ primary_vlan }}
 private-vlan association {{ isolated_vlan }}
interface {{ fw_port }}
 switchport mode private-vlan promiscuous
 switchport private-vlan mapping {{ primary_vlan }} add {{ isolated_vlan }}
interface {{ data_port }}
 switchport mode private-vlan host
 switchport private-vlan host-association {{ primary_vlan }} {{ isolated_vlan }}
